
/* boiler plate */
*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    list-style: none;
    /* overflow: hidden; */
}

/* //some variables */
:root{
    --color_primary : #000000;
    --color_secondary : #a3a3a3;
    --color_white : #fff;
    --font_medium : "General Sans Medium";
}

#main{
    width: 100%;

}

/* hero section  */

#hero{
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

/* navigation menu */
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 30px 40px; 
    width: 100%;
    font-size: 1.25vw;
    font-weight: 500;
}
#nav a{
    color: #fff;
    text-decoration: none;
}

#heading{
    margin-top: 82px;
    margin-left: 30px;
    color: #a3a3a3;
}
#heading h1{
    opacity: .9;
    line-height: 1;
    font-size: 9.8vw;
    font-family: var(--font_medium);
    font-weight: 600;
}
#heading .second{
    margin-left: 130px;
}
.blocktext{
    width: fit-content;
    /* background-color: red; */
}
.blocktext p{
    text-align: end;
    font-size: 15px;
    font-weight: 600;
    color: var(--color_white);
}
#corner-headings{
    color: var(--color_white);
    margin-top: 93px;
    padding-right: 50px;
}

#corner-headings h5{
    margin-top: .5vw;
    font-size: 1.2vw;
    text-align: end;
}