
/* boiler plate */
*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    list-style: none;
    /* overflow: hidden; */
}

/* //some variables */
:root{
    --color_primary : #000000;
    --color_secondary : #a3a3a3;
    --color_white : #fff;
    --font_medium : "General Sans Medium";
}

#main{
    width: 100%;

}

/* hero section  */

#hero{
    width: 100%;
    height: auto;
    background-color: #000000;
}

/* navigation menu */
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: var(--color_primary);
    padding: 25px 40px; 
    width: 100%;
    font-size: 1.25vw;
    font-weight: 500;
    position: fixed;
    top: 0%;
    z-index: 99;
}
#nav a{
    color: #fff;
    text-decoration: none;
}

#heading{
    padding-top: 12vw;
    margin-left: 30px;
    color: #a3a3a3;
}
#heading h1{
    opacity: .9;
    line-height: 1;
    font-size: 9.8vw;
    font-family: var(--font_medium);
    font-weight: 600;
}
#heading .second{
    margin-left: 130px;
}
.blocktext{
    width: fit-content;
    /* background-color: red; */
}
.blocktext p{
    text-align: end;
    font-size: 15px;
    font-weight: 600;
    color: var(--color_white);
}
#corner-headings{
    color: var(--color_white);
    margin-top: 93px;
    padding-right: 50px;
}

#corner-headings h5{
    margin-top: .5vw;
    font-size: 1.2vw;
    text-align: end;
}

 /* hero footer */
 #hero_footer{
    padding: 0 50px;
    /* position: absolute;
    bottom: 5%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 #hero_footer a{
    color: var(--color_white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
 }

 #iconset{
    margin-top: 10px;
    color: var(--color_primary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
 }

#circle{
    background-color: var(--color_secondary);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}


/* Second page  */
#second_page{
    width: 100%;
    height: auto;
    background-color: var(--color_primary);
    padding: 13vw 10vw 0 2.5vw;
}
.plug{
    border-top: 1px solid var(--color_secondary);
    padding: 3vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.plug h1{
    color: #a3a3a3;
    font-size: 7vw;
    opacity: .9;
}
.plug h5{
    color: var(--color_white);
}
.pluglast{
    border-bottom: 1px solid var(--color_secondary);
}

.plug img{
    display: none;
    position: absolute;
    z-index: 999;
    height: 140%;
}


 /* third page */
 #third_page{
    background-color: var(--color_primary);
    width: 100%;
    height: auto;
    padding-top: 7vw;
    /* margin-bottom: 30px; */
 }
 #third_page{
    /* display: flex;
    align-items: center;
    justify-content: flex-end; */
 }
 #about{
    padding: 8vw 10vw 0 35vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    margin-bottom: 80px;
 }
 #about img{
    width: 200px;
    height: auto; 
}
#about #text{
    color: var(--color_white);
}
#text{
    width: 25rem;
    /* font-size: 1.2vw; */
}

#text h5{
    text-transform: uppercase;
    opacity: .6;
}
#text p{
    margin-bottom: 16px;
    line-height: 1.5;
}

#text a{
    text-decoration: none;
    color: var(--color_white);
    border: solid 1px #fff;
    border-radius: 12px;
    padding: 3px 9px;
    font-size: 0.9rem;
}

.about_footer{
    padding-left: 3vw;
    padding-top: 20px;
    color: var(--color_white);
    line-height: 2;
    padding-bottom: 7px;
    background-color: var(--color_primary);
}

.about_footer h5{
    opacity: .5;
    font-size: .8rem;
}

.about_footer p{
    font-size: .9rem;
    font-weight: 500;
}

.about_footer p:hoover{
    text-decoration: underline;
}

#footer{
    background-color: var(--color_primary);
    color: var(--color_white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 3vw;
    padding-top: 8vw;
    /* margin-top: 25px; */
}
#footer #date{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}
#footer #social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

#social a{
    color: var(--color_white);
    text-decoration: none;
    font-size: 0.85rem;
    font-family: var(--font_medium) ;
}



 /* making responsive */
 @media only screen and (max-width: 750px){
    #about{
        flex-direction: column;
        padding: 8vw 10vw 0 8vw;
    }
    #footer{
        flex-direction: column;
        gap: 20px;
    }
 }
 